server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: config-control-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
    group:
      dev: "dev,debug,seed-data"
      prod: "prod,observability"
  cache:
    type: caffeine
    # type: redis
  main:
    allow-bean-definition-overriding: true
  config:
    import:
      - "classpath:application-app.yml"
      - "classpath:application-observability.yml"
      - "classpath:application-resilience.yml"
      - "classpath:application-mail.yml"
      - "classpath:application-messaging.yml"
      - "classpath:application-datasources.yml"
      - "classpath:application-security.yml"
      - "classpath:application-infrastructure.yml"

# Logging Configuration
logging:
  level:
    root: ${LOGGING_LEVEL_ROOT:INFO}
    com.example.control: ${LOGGING_LEVEL_COM_EXAMPLE_CONTROL:DEBUG}
    org.springframework.web: INFO
    org.springframework.integration.handler.LoggingHandler: WARN
    org.springframework.cloud.stream.binder.kafka.KafkaMessageChannelBinder: WARN
    org.springframework.cloud.stream.binder.kafka: WARN
    org.springframework.cloud.util.random.CachedRandomPropertySource: WARN
    org.springframework.cloud: WARN
    org.springframework.security: DEBUG
  config: classpath:log4j2-spring.xml
